# This is mostly being used for generation of certificate requests.
# Default location: %ProgramFiles%\OpenSSL-Win64\bin\openssl.cfg
# Combine: csr.config + ca.config + tsa.config
# See https://www.phildev.net/ssl/opensslconf.html for more info

####################################################################
[ ca ]
default_ca  = CA_default

[ CA_default ]

dir         = ./CA
crl_dir     = $dir/crl
RANDFILE    = $dir/.rand

certs       = $dir/certs
database    = $dir/index.txt
#unique_subject = no
new_certs_dir   = $dir/newcerts

certificate = $dir/ca.crt
serial      = $dir/serial
crlnumber   = $dir/crlnumber
crl         = $dir/ca.crl
private_key = $dir/ca.key
x509_extensions = x509_ext
name_opt    = ca_default
cert_opt    = ca_default
copy_extensions = copy
crl_extensions  = crl_ext

default_days    = 365
default_crl_days= 30
default_md      = sha1
preserve        = no

policy      = CA_policy

[ CA_policy ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

####################################################################
[ x509_ext ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
subjectAltName          = @alt_names
issuerAltName           = issuer:copy
# crlDistributionPoints = URI:http://www.example.com/example_ca.crl

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName          = @alt_names

[ v3_ca ]
basicConstraints = CA:true
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
issuerAltName           = issuer:copy
# crlDistributionPoints = URI:http://www.example.com/example_ca.crl

[ crl_ext ]
issuerAltName           = issuer:copy
authorityKeyIdentifier  = keyid:always

[ proxy_cert_ext ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
subjectAltName          = @alt_names
issuerAltName=issuer:copy
proxyCertInfo=critical,language:id-ppl-anyLanguage,pathlen:3,policy:foo

[ alt_names ]
DNS.1 = example.com 
DNS.2 = <subdomain>.example.com 
DNS.3 = mail.example.com 
DNS.4 = ftp.example.com

# Add these if you need them. But usually you don't want them or 
# need them in production. You may need them for development. 
# DNS.5 = localhost 
# DNS.6 = localhost.localdomain 
# IP.1  = 127.0.0.1 
# IP.2  = ::1

# IPv6 localhost 
# DNS.8 = ::1

####################################################################