# This is mostly being used for generation of certificate requests.
# Default location: %ProgramFiles%\OpenSSL-Win64\bin\openssl.cfg
# See https://www.phildev.net/ssl/opensslconf.html for more info
# This is tailored for localhost use

HOME        = .

####################################################################
[ca]
default_ca  = CA_default

[CA_default]
dir         = ./ca
certs       = $dir/certs
new_certs_dir   = $dir/newcerts
certificate = $dir/ca.crt
private_key = $dir/ca.key
RANDFILE    = $dir/.rand
database    = $dir/index.txt
serial      = $dir/serial
crl_dir     = $dir/crl
crlnumber   = $dir/crlnumber
crl         = $dir/ca.crl
x509_extensions = x509_ext
name_opt    = ca_default
cert_opt    = ca_default
copy_extensions = copy
#crl_extensions  = crl_ext
default_days    = 365
default_crl_days= 30
default_md  = sha1
preserve    = no
policy      = CA_policy

[CA_policy]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
localityName            = optional
commonName              = supplied
emailAddress            = optional

[policy_anything]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

####################################################################
[req]
prompt              = no
dir                 = ./client

default_bits        = 2048
default_keyfile     = $dir/ca.key
#encrypt_key        = no 
distinguished_name  = req_distinguished_name
attributes          = req_attributes
x509_extensions     = v3_ca
req_extensions      = v3_req
# input_password    = secret
# output_password   = secret
string_mask         = nombstr

[req_distinguished_name]
countryName                 = [C] (https://www.ssl.com/country_codes/)
countryName_default         = US
countryName_min             = 2
countryName_max             = 2
stateOrProvinceName         = [ST] (full name)
stateOrProvinceName_default = California
localityName                = [L] (eg, city)
localityName_default        = Hawthorne
0.organizationName          = [O] (eg, company)
0.organizationName_default  = Reevo
0.organizationalUnitName    = [OU]
0.organizationalUnitName_default = Development (eg, section)
commonName                  = [CN] (e.g. *.example.com)
commonName_max              = 64
emailAddress                = [Email] (e.g. email@example.com)
emailAddress_max            = 64

[req_attributes]
#challengePassword       = A challenge password (https://www.openssl.org/docs/man1.1.1/man1/openssl.html#Pass-Phrase-Options)
#challengePassword_min   = 4
#challengePassword_max   = 20
#unstructuredName        = An optional company name

####################################################################
[x509_ext]
basicConstraints        = CA:false
#keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
subjectAltName          = @alt_names
#issuerAltName          = issuer:copy
#extendedKeyUsage       = critical,timeStamping
#crlDistributionPoints  = URI:http://www.example.com/example_ca.crl

[v3_req]
basicConstraints        = CA:false
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName          = @alt_names

[v3_ca]
basicConstraints        = CA:true
#keyUsage               = cRLSign, keyCertSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
#subjectAltName         = email:copy
#issuerAltName          = issuer:copy
#crlDistributionPoints  = URI:http://www.example.com/example_ca.crl

[crl_ext]
authorityKeyIdentifier  = keyid:always
#issuerAltName          = issuer:copy

[proxy_cert_ext]
basicConstraints        = CA:false
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
subjectAltName          = @alt_names
#issuerAltName          = issuer:copy
proxyCertInfo=critical,language:id-ppl-anyLanguage,pathlen:3,policy:foo

[alt_names]
DNS.1 = <hostname>
DNS.2 = <subdomain>.<hostname>
DNS.3 = mail.<hostname>
DNS.4 = ftp.<hostname>
DNS.5 = localhost 
DNS.6 = localhost.localdomain
DNS.8 = ::1
IP.1  = 127.0.0.1 
IP.2  = ::1

####################################################################
[tsa]
default_tsa             = tsa_config1

[tsa_config1]
dir                     = ./CA
serial                  = $dir/tsaserial
crypto_device           = builtin
digests                 = sha1, sha256, sha384, sha512
#signer_cert            = $dir/tsa.crt
#certs                  = $dir/ca.crt
#signer_key             = $dir/ca.key
#signer_digest          = sha256
#default_policy         = tsa_policy1
#other_policies         = tsa_policy2, tsa_policy3
#accuracy               = secs:1, millisecs:500, microsecs:100
#clock_precision_digits = 0
ordering                = no
#tsa_name               = no 
#ess_cert_id_chain      = no
#ess_cert_id_alg        = sha1
                                            
####################################################################